@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
  margin: 0;
}

body {
  background: url('images/back.jpg') no-repeat center center fixed;
  background-size: 100%;
  width: 70%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.main-title span {
  font-size: 3rem;
  color: #f8f8f8;
  display: inline-flex;
  animation: rotate 2s 2;
  margin: 1rem 1rem;
}

@keyframes rotate {
  0%,
  75% {
    transform: rotateY(360deg);
  }
}

h1 span:nth-of-type(1) {
  animation-delay: 0.2s;
}

h1 span:nth-of-type(2) {
  animation-delay: 0.4s;
}

h1 span:nth-of-type(3) {
  animation-delay: 0.6s;
}

h1 span:nth-of-type(4) {
  animation-delay: 0.8s;
}

h1 span:nth-of-type(5) {
  animation-delay: 1s;
}

h1 span:nth-of-type(6) {
  animation-delay: 1.2s;
}

h1 span:nth-of-type(7) {
  animation-delay: 1.4s;
}

h1 span:nth-of-type(8) {
  animation-delay: 1.6s;
}

h1 span:nth-of-type(9) {
  animation-delay: 1.8s;
}

h1 span:nth-of-type(10) {
  animation-delay: 2s;
}

h1 span:nth-of-type(11) {
  animation-delay: 2.2s;
}

.score-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-bottom: 2rem;
}

.refresh {
  cursor: pointer;
  margin-right: 3rem;
  width: 5rem;
  height: 2rem;
  text-align: center;
  border-radius: 4px;
  background: lightblue;
  border: none;
}

.refresh:hover {
  background-color: #0ff;
  transition: 0.7s;
}

.score-head {
  color: #0ff;
  margin: 0 9rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

table {
  color: #0ff;
  border: none;
  width: 30%;
  margin-top: 1rem;
}

th {
  color: #0f0;
}

tr:nth-child(even) {
  background-color: #330;
  padding: 5px;
  margin-left: 10px;
}

tr:nth-child(odd) {
  background-color: transparent;
  padding: 5px;
}

.submit {
  position: relative;
  left: 70%;
  width: 5rem;
  height: 2rem;
  text-align: center;
  border-radius: 4px;
  background: lightblue;
  border: none;
}

.submit:hover {
  background-color: #0ff;
  transition: 0.7s;
}
