* {
  margin: 0;
}

body {
  background: #fff;
  width: 70%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-title {
  padding: 30px 120px 10px;
}

.score-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-bottom: 2rem;
}

.score-title {
  margin-left: 60px;
}

.add-title {
  margin-bottom: 20px;
}

.score-head {
  margin-left: 8rem;
  display: flex;
  flex-direction: row;
  gap: 8rem;
}

table {
  border: solid 1px black;
  width: 30%;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.submit {
  position: relative;
  left: 69%;
}
